[submodule "src/Vendor/imgui"]
	path = src/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking

[submodule "src/Vendor/spdlog"]
	path = src/Vendor/spdlog
	url = https://github.com/gabime/spdlog/
	branch = v1.x
[submodule "src/Vendor/glfw"]
	path = src/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "src/Vendor/glm"]
	path = src/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "src/Vendor/tracy"]
	path = src/Vendor/tracy
	url = https://github.com/wolfpld/tracy
